
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css');
@import '~vuetify/dist/vuetify.css';


table > thead.v-data-table-header > tr > th,
thead .v-data-table__checkbox > .v-icon {
	background-color: #009688 !important;
	color: #fff !important;
	// text-transform: capitalize !important;
}
.v-content__wrap {
    background: #e5e5e5 !important;
}
.theme--light.v-navigation-drawer:not(.v-navigation-drawer--floating) .v-navigation-drawer__border {
     background-color: #e5e5e5 !important; 
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}
.teal {
    color: white !important;
}
.v-text-field__slot label {
  text-transform: none !important;
}
.custom_button {
  color: white !important;
}
// .dragabble {
//     top: unset !important;
//     left: unset !important
// }
.fade-enter,
.fade-leave-active {
  opacity: 0
}
.v-avatar img {
  background-color: white !important;
  border: 1px solid black;
  
}
.orange_white {
  background-color: #ff9800 !important;
  color:white !important;
}
.gray_white {
  background-color: #757575 !important;
  color:white !important;
}
.violet_white {
  background-color: #3f51b5 !important;
  color:white !important;
}
.blue_white {
  background-color: #2196f3 !important;
  color:white !important;
}
.green_white {
  background-color: #4caf50 !important;
  color:white !important;
}
.sky_white {
  background-color: #03a9f4 !important;
  color:white !important;
}
.fab_btn {
  border-radius: 100% !important;
  color: #009688 !important;
}
 .v-data-table__wrapper table tr:hover {
    cursor: pointer !important;
 }